body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f028;
}

#chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff49;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-messages {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #2eee0887;
    border-radius: 5px;
}

#message-input {
    width: calc(100% - 70px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #23a20c;
    border-radius: 5px;
}

#send-button {
    width: 60px;
    padding: 10px;
    background-color: #227189;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#send-button:hover {
    background-color: #1a5c6c; /* Darker shade for hover effect */
}



#response-output {
    margin-top: 20px;
    padding: 10px;
    background-color: #098344;
    border: 1px solid #ccc;
    border-radius: 5px;
}